{% block card_list_assets %}
{% load static %}

<div class="">
    <div class="card mb-3">
        <div class="card-header">
            LISTA DE ATIVOS AVULSOS
        </div>
        <div class="card-body">

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">{{global_settings.internalcode01}}</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Setor</th>
                        <th scope="col">Sub-Setor</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">SubCategoria</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody id="assetTableBody">
                    <!-- Conteúdo será gerado dinamicamente pelo JavaScript -->
                </tbody>
            </table>
            <div id="paginationContainer" class="pagination"></div> <!-- Container de paginação -->

            
            {% for asset in data.assets %}

            <div class="modal fade" id="transferModalAsset{{ asset.id }}" tabindex="-1" aria-labelledby="transferModalAssetLabel{{ asset.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="transferModalAssetLabel{{ asset.id }}">Realizar movimentação {{ asset.name }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="transferAssetForm{{ asset.id }}" onsubmit="return transferAsset(event, {{ asset.id }})">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="id_sector">Setor:</label>
                                            <select name="sector" id="id_sector_t_asset_{{asset.id}}" class="form-select" required>
                                                <option hidden selected disabled>Selecione</option>
                                                {% for sector in sectors %}
                                                    <option value="{{ sector.id }}">{{ sector.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <label for="id_subsector">SubSetor:</label>
                                            <select name="subsector" id="id_subsector_t_asset_{{asset.id}}" class="form-select">
                                                <option hidden selected disabled>Selecione</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>             
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Fechar</button>   
                                    <button type="submit" class="btn btn-sm btn-primary">Concluir</button>
                                </div>
                            </form>           
                        </div>
                    </div>
                </div>
            </div>
        
            <script>
                $(document).ready(function(){
                console.log("Sector / Subsector script started");
                $('#id_sector_t_asset_{{asset.id}}').change(function(){
                    console.log("Setor change event");
                    var sector_id = $(this).val();
                    $.ajax({
                        url: '/get_subsectors_by_parent/',
                        data: {'sector_id': sector_id},
                        dataType: 'json',
                        success: function(data){
                            console.log("Subsectors received:", data.subsectors);
                            $('#id_subsector_t_asset_{{asset.id}}').empty();
                            $.each(data.subsectors, function(index, subsector){
                                $('#id_subsector_t_asset_{{asset.id}}').append('<option value="' + subsector.id + '">' + subsector.name + '</option>');
                            });
                        },
                        error: function(xhr, status, error) {
                            console.error("Error:", error);
                        }
                    });
                });
            });
            </script>
        
            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModalAsset{{ asset.id }}" tabindex="-1" aria-labelledby="deleteModalAssetLabel{{ asset.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModalAssetLabel{{ asset.id }}">Deseja remover {{ asset.name }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="{% url 'delete_asset' asset.id %}">
                                {% csrf_token %}
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal" onclick="deleteAsset({{ asset.id }})">Excluir</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}


        </div>
    </div>
</div>

{% endblock %}