{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card mt-3">
        <div class="card-header">
            EDITAR ATIVO - {{ asset.name }} - {{ asset.id }}
        </div>
        <div class="card-body">
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
                $(document).ready(function(){
                    console.log("Document ready");
                    $('#id_sector').change(function(){
                        console.log("Setor change event");
                        var sector_id = $(this).val();
                        $.ajax({
                            url: '/get_subsectors/',
                            data: {'sector_id': sector_id},
                            dataType: 'json',
                            success: function(data){
                                console.log("Subsectors received:", data.subsectors);
                                $('#id_subsector').empty();
                                $.each(data.subsectors, function(index, subsector){
                                    $('#id_subsector').append('<option value="' + subsector.id + '">' + subsector.name + '</option>');
                                });
                            },
                    error: function(xhr, status, error) {
                        console.error("Error:", error);
                    }
                });
            });
            $('#id_category').change(function(){
                console.log("Categoria change event");
                var category_id = $(this).val();
                $.ajax({
                    url: '/get_subcategories/',
                    data: {'category_id': category_id},
                    dataType: 'json',
                    success: function(data){
                        console.log("Subcategories received:", data.subcategories);
                        $('#id_subcategory').empty();
                        $.each(data.subcategories, function(index, subcategory){
                            $('#id_subcategory').append('<option value="' + subcategory.id + '">' + subcategory.name + '</option>');
                        });
                    },
                    error: function(xhr, status, error) {
                        console.error("Error:", error);
                    }
                });
            });
        });
    </script>
    
    
    
        <form method="post" action="{% url 'edit_asset' asset.id %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <label for="id_name">Nome:</label>
                    <input type="text" name="name" id="id_name" class="form-control" maxlength="50" required value="{{asset.name}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="id_category">Categoria:</label>
                    <select name="category" id="id_category" class="form-control" disabled>
                        <option value="{{ asset.category.id }}" hidden selected>{{ asset.category.name }}</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="id_subcategory">SubCategoria:</label>
                    <select name="subcategory" id="id_subcategory" class="form-control" disabled>
                        <option value="{{ asset.subcategory.id }}" hidden selected>{{ asset.subcategory.name }}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="id_sector">Setor:</label>
                    <select name="sector" id="id_sector" class="form-control" disabled>
                        <option value="{{ asset.sector.id }}" hidden selected>{{ asset.sector.name }}</option>
                        {% for sector in sectors %}
                        <option value="{{ sector.id }}">{{ sector.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="id_subsector">SubSetor:</label>
                    <select name="subsector" id="id_subsector" class="form-control" disabled>
                        <option value="{{ asset.subsector.id }}" hidden selected>{{ asset.subsector.name }}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="id_rental_company">Empresa:</label>
                    <select name="rental_company" id="id_rental_company" class="form-control" required>
                        <option value="{{ asset.rental_company.id }}" hidden selected>{{ asset.rental_company.name }}</option>
                        {% for rental_company in rental_companies %}
                        <option value="{{ rental_company.id }}">{{ rental_company.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="id_internal_code1">{% if global_settings.internalcode1 %}{{ global_settings.internal_code1 }}{% else %} Codigo Interno 1 {% endif %}:</label>
                    <input type="text" name="internal_code1" id="id_internal_code1" class="form-control" maxlength="50" value="{{asset.internal_code1}}">
                </div>
                <div class="col-md-3">
                    <label for="id_internal_code2">{% if global_settings.internalcode2 %}{{ global_settings.internal_code2 }}{% else %} Codigo Interno 2 {% endif %}:</label>
                    <input type="text" name="internal_code2" id="id_internal_code2" class="form-control" maxlength="50" value="{{asset.internal_code2}}">
                </div>
                <div class="col-md-3">
                    <label for="id_internal_code3">{% if global_settings.internalcode3 %}{{ global_settings.internal_code3 }}{% else %} Codigo Interno 3 {% endif %}:</label>
                    <input type="text" name="internal_code3" id="id_internal_code3" class="form-control" maxlength="50" value="{{asset.internal_code3}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="id_serial_number">Numero de Série:</label>
                    <input type="text" name="serial_number" id="id_serial_number" class="form-control" maxlength="50"  value="{{asset.serial_number}}">
                </div>
                <div class="col-md-3">
                    <label for="id_brand">Marca:</label>
                    <input type="text" name="brand" id="id_brand" class="form-control" maxlength="50" value="{{asset.brand}}">
                </div>
                <div class="col-md-3">
                    <label for="id_mac_address">MAC Address:</label>
                    <input type="text" name="mac_address" id="id_mac_address" class="form-control" maxlength="50" value="{{asset.mac_address}}">
                </div>
                <div class="col-md-3">
                    <label for="id_windows_license">Licença Windows:</label>
                    <input type="text" name="windows_license" id="id_windows_license" class="form-control" maxlength="50" value="{{asset.windows_license}}">
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Enviar</button>
        </form>
    
        </div>

        
    </div>
        <!-- <button id="generateQR" class="btn btn-primary">Gerar QR Code</button>

        <div class="card mt-3">
            <div class="card-body">
                <div id="qrCodeContainer"></div>
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#generateQR').click(function() {
                    $.ajax({
                        type: 'GET',
                        url: '{% url "generate_qr_code" asset.id %}',
                        xhrFields: {
                            responseType: 'blob'
                        },
                        success: function(data) {
                            var reader = new FileReader();
                            reader.onload = function(e) {
                                $('#qrCodeContainer').html('<img src="' + e.target.result + '" alt="QR Code" class="qrcode">');
                            }
                            reader.readAsDataURL(data);
                        },
                        error: function(xhr, status, error) {
                            console.error("Error:", error);
                        }
                    });
                });
            });
        </script> -->
</div>
{% endblock %}