<h1>Preferences</h1>
<h3>Categorias</h3>
<form method="post" action="{% url 'new_category' %}">
    {% csrf_token %}
    {{ categoryform.as_p }}
    <button type="submit">Submit</button>
</form>
<ul>
    {% for category in category_list %}
    <li>{{ category.name }}</li>
    {% endfor %}
</ul>
<h3>SubCategorias</h3>
<form method="post" action="{% url 'new_subcategory' %}">
    {% csrf_token %}
    {{ subcategoryform.as_p }}
    <button type="submit">Submit</button>
</form>
<ul>
    {% for subcategory in subcategory_list %}
    <li>{{ subcategory.parent}} - {{ subcategory.name }}</li>
    {% endfor %}
</ul>
<h3>Setor</h3>
<form method="post" action="{% url 'new_sector' %}">
    {% csrf_token %}
    {{ sectorform.as_p }}
    <button type="submit">Submit</button>
</form>
<ul>
    {% for sector in sector_list %}
    <li>{{ sector.name }}</li>
    {% endfor %}
</ul>
<h3>Sub-Setor</h3>
<form method="post" action="{% url 'new_subsector' %}">
    {% csrf_token %}
    {{ subsectorform.as_p }}
    <button type="submit">Submit</button>
</form>
<ul>
    {% for subsector in subsector_list %}
    <li>{{subsector.parent}} - {{ subsector.name }}</li>
    {% endfor %}
</ul>
<h3>Empresa</h3>
<form method="post" action="{% url 'new_rentalcompany' %}">
    {% csrf_token %}
    {{ rentalcompanyform.as_p }}
    <button type="submit">Submit</button>
</form>

<ul>
    {% for rentalcompany in rentalcompany_list %}
    <li>{{ rentalcompany.name }}</li>
    {% endfor %}
</ul>