{% extends 'base.html' %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

<div class="container">
    <h1>Preferences</h1>
    <div class="row"  data-masonry='{"percentPosition": true }'>
        <div class="col-4">
            <div class="card mb-3">
                <div class="card-header">
                    Geral
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'global_settings' %}">
                        {% csrf_token %}
                        {{ globalform.as_p }}
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-3">
                <div class="card-header">
                    Categorias
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'new_category' %}">
                        {% csrf_token %}
                        {{ categoryform.as_p }}
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for category in categories %}
                        <li class="list-group-item">{{ category.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-3">
                <div class="card-header">
                    SubCategorias
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'new_subcategory' %}">
                        {% csrf_token %}
                        {{ subcategoryform.as_p }}
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for subcategory in subcategories %}
                        <li class="list-group-item">{{ subcategory.parent}} - {{ subcategory.name }}</li>
                        {% endfor %}
                    </ul>                    
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-3">
                <div class="card-header">
                    Empresa
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'new_rentalcompany' %}">
                        {% csrf_token %}
                        {{ rentalcompanyform.as_p }}
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for rentalcompany in rental_companies %}
                        <li class="list-group-item">{{ rentalcompany.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}