{% extends 'base.html' %}
{% block content %}
{% load static %}
<div id="sectorId" data-value="{{ sector.id }}"></div>

<div class="container mt-3">
    <div class="card mb-3">
        <div class="card-body">
            <div class="sector-summary" data-sector-id="{{ sector.id }}">
                <h1 id="sectorName"></h1>
                <h5>Total de equipamentos: <span id="totalAssets">...</span></h5>
                <h5>Total de kits: <span id="totalKits">...</span></h5>
            </div>
        </div>
    </div>
    <div class="mt-3">
        {% include "card_sector_kits.html" %}
    </div>
        {% include "card_list_assets_sector.html" %}
    </div>
</div>
{% endblock %}
