@import "https://www.nerdfonts.com/assets/css/webfont.css";

body{
    background-color: var(--bs-primary-bg-subtle);
}

.pagination button {
    margin: 5px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
  }

.asset-buttons{
    cursor: pointer;
}
    
.qrcode{
  height: 150px;
}

.qrcode-view{
  height: 300px;
  }
  
.qrcode-view-kit{
    height: 180px;
    }

.logo_print{
    height: 35px;
}
    
#qrCodeContainer{
    height: 100px;
}

.sector-list {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.asset-by-sector-list {
    height: 396px;
    overflow-y: auto;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.kit-list {
    height: 396px;
    overflow-y: auto;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

@media print {
    @page {
        size: 9cm 5cm; /* Define the page size for the label */
        margin: 0; /* Remove margins */
    }

    body {
        margin: 0; /* Remove default margin */
        padding: 0; /* Remove default padding */
    }

    .modal-content {
        border: none !important;
    }
    .modal-header, .modal-footer {
        display: none !important;
    }
    .modal-body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 9cm;
        height: 5cm;
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margin */
    }
    .modal-body .row {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
    }
    .modal-body .col-auto, .modal-body .col {
        flex: 1;
        padding: 5px; /* Add padding if necessary */
        margin: 0; /* Remove margin */
    }
    .modal-body .col-auto {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal-body .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .modal-body img {
        max-width: 100%;
        max-height: 100%;
    }
    .modal-body h2 {
        font-size: 8pt; /* Adjust font size */
        margin: 0;
    }
    .modal-body p, .modal-body h6 {
        font-size: 4pt; /* Adjust font size */
        margin: 0;
    }
    .modal-body h6 {
        margin-bottom: 5px;
    }

    .logo_print{
    height: 40px;
    }
}

.li-hover{
    cursor: pointer;
}